<h4 class="pull-left">Activity details:</h4> 
<% if current_user.id == @user.id  %>
	<h4 class="pull-right btn btn-small"><%= link_to "Change Account Settings", edit_user_path(current_user) %></h4> 
<% end %>
<div class="clearfix"></div>
<br/>

<p>The username logged in with: <strong><%= @user.username %></strong></p>
<p>Account created on: <strong><%= localize(@user.created_at, :format => :long) %></strong></p>

<h4>Most recent posts:</h4>
<ul style="list-style: none;">
	<% @posts.each do |post| %>
    	<li><%= link_to post.title, post_path(post) %></li>
	<% end %>	
</ul>	

<h4>Most recent comments:</h4>
<ul style="list-style: none;">
	<% @comments.each do |comment| %>
    	<li><%= link_to comment.content, post_path(comment.post) %></li>
	<% end %>	
</ul>	

<h4>Most recent votes:</h4>
<ul style="list-style: none;">
	<% @votes.each do |vote| %>
    	<li>Voted <%= vote.direction %> for <%= link_to vote.post.title, post_path(vote.post) %></li>
	<% end %>	
</ul>

<% if @user.twitter? %>
	<h4>Tweets by <%= @user.twitter.to_s %>:</h4>	

	<ul>
		<% Twitter.user_timeline(@user.twitter).each do |status| %>
			<li><%= link_to status.text, "http://twitter.com/#{@user.twitter.to_s}/status/#{status.id}", target: "_blank" %></li>
		<% end %>
	</ul>	
<% end %>