<h4><%= link_to @post.title, @post.url %> for $ <strong><%= @post.price %></strong></span></h4> 

<p><h6>DESCRIPTION:</h6><%= @post.description %></p>
<h6>WORK URL:</h6> <%= display_my_work(@post) %> <br/>

<h6>COMMENTS:</h6>
<div class="comments">
	<ul>
		<%= display_post_comments(@post) %>
	</ul>
</div>

<%= form_for [@post, @comment] do |f| %>
	<% if @comment.errors.any? %>
		<div class="alert alert-error">
			<%= @comment.errors.full_messages.join("<br/>").html_safe %>
		</div>
	<% end %>

	<%= f.text_area :content, rows: 5, class: "span4", placeholder: "Add a comment!" %><br/>
	<%= f.submit "Post Comment!" %>
<% end %>



	