<h4>Categories:</h4>
<ul>
	<% @categories.each do |category| %>
		<li><%= category.name %></li>
	<% end %>
</ul>

<h4>Create a new category:</h4>

<%= form_for @category do |f| %>

	<% if @category.errors.any? %>
		<div class="alert alert-error">
			<%= @category.errors.full_messages.join("<br/>").html_safe %>
		</div>
	<% end %>

	<%= f.label :name %>
	<%= f.text_field :name, class: "span4" %>
	<%= f.label :description %>
	<%= f.text_area :description, class: "span4", placeholder: "Category description", rows: 6 %>
	<br/>
	<%= f.submit "Create Category" , class: "btn" %>
<% end %>
