
<div class="brand"> <strong> <%= link_to "SELL-UR-SELF", root_path %> </strong> </div>
<ul class="nav">
	<li class="active"><%= link_to "Create a post", new_post_path %></li>
	<li><%= link_to "About", aboutus_path %></li>
	<li><%= link_to "Contact", contactus_path %></li>

	<li class="divider-vertical"></li>

    <li>
    	<%= form_tag(search_path, :method => :get, :class => "navbar-form") do %>
    		<%= text_field_tag :search, params[:search], class: "span3", :placeholder => "Search for the posts here..." %>
    		<%= submit_tag "Search", class: "btn btn-primary" %>
    	<% end %>
    </li>

    <li class="divider-vertical"></li>
    
    <% if logged_in? %>
        <!--<li style="padding: 10px 15px;">Welcome <%= current_user.firstname %></li>-->
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Logout", logout_path %></li>
        <li><%= link_to "Create category", categories_path %></li>
    <% else %>
        <li><%= link_to "Sign up", "/register" %></li>  
        <li><%= link_to "Sign in", login_path %></li>  
    <% end %>        

</ul>    


